<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Acreditación USC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <ion-grid style="color: dimgray;">
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-img src="./assets/icon/usc3.png" class="img"></ion-img>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-label class="texto">Este Test consta de 15 preguntas</ion-label>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-label class="texto"> soble la acreditación de alta calidad</ion-label>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-label class="texto">de la Universidad Santiago de Cali</ion-label>
      <ion-col>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button (click)="abrirpregunta()" shape="round">
          <ion-label class="boton">Realizar Test</ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-label class="texto">Tiempo:&nbsp;Ilimitado</ion-label>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>